body{
  font-family: Helvetica, sans-serif;
}

header{
  font-size: 100px;
  color: khaki;
  font-weight: bold;
  text-align: center;
  background-image: url('../resources/pattern.jpeg');
}

h2{
  font-weight: bold;
  color: white;
  font-size: 32px;
}

#brushes h2{
  background-color: mediumspringgreen;
}

#frames h2{
  background-color: lightcoral;
}

#paints h2{
  background-color: skyblue;
}

span{
  color: blue;
  font-weight: bold;
}
